.project {
  
    display:flex;
    justify-content:center;
    flex-direction: column;

    
   
    
}
.one{
    
    background-color: green;
}

.two{
    background-color: pink;

}
.three{
    background-color: gray;
    
}